// Place all the styles related to the api/boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-boards-container {
  min-width: 80vw;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pins-user-container {
  position: relative;
  top: 100px;
}

.board-item-outer {
  width: 306px;
  height: 230px;
  border-radius: 8px;
  padding: 8px 2px 25px 8px;
  margin: 15px 10px;
  transition: background-color 0.4s ease;
}

.pin-create-outer {
  padding: 2px;
  position: relative;
  transition: all .2s ease-in-out;
  border-radius: 8px;
  padding: 8px 8px 25px 8px;
}

.pin-create-container {
  height: 200px;
  border-radius: 8px;
  background-color: #efefef;
}

.pin-create-footer p {
  margin-top: 10px;
}

.pin-create-outer:hover {
  background-color: rgba(142, 142, 142, 0.12);

  .pin-create-container {
    background-color: #d7d7d7;
  }
}

.board-item-outer:hover {
  background-color: rgba(142, 142, 142, 0.12);

  .board-item-container {
    background-color: #d7d7d7;
  }
}

.board-item-container {
  width: 300px;
  height: 200px;
  background-color: #efefef;
  border-radius: 8px;
  transition: background-color 0.4s ease;
}

.plus-outer {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #bd081c;
  border-radius: 50%;
  top: 40%;
  margin: auto;
}

.plus-outer .fa-plus {
  position: absolute;
  top: 48%;
  left: 50%;
  height: 56%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 25px;
}

.board-containers {
  text-align: left;
  border-radius: 8px;
  width: 306px;
  height: 230px;
  border-radius: 8px;
  padding: 8px 2px 25px 8px;
  margin: 15px 10px;
  transition: background-color 0.4s ease;
}

.board-containers:hover {
  background-color: rgba(142, 142, 142, 0.12);

  .thumbnail-box {
    background-color: #d7d7d7;
  }

  .board-title .fa-pencil-alt {
    opacity: 1;
  }
}

.container-footer {
  height: 55px;
  width: 300px;
  padding: 16px 8px;
}

.container-footer p {
  color: #8e8e8e;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.thumbnail-box {
  width: 300px;
  height: 200px;
  background-color: #efefef;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.board-title p {
  position: relative;
  font-size: 18px;
  font-weight: 900;
  color: #333;
  line-height: 1.2;
  display: inline;
  letter-spacing: 0.1em;
  top: 10px;
  left: 8px;
}

.board-title .fa-pencil-alt {
  opacity: 0;
  position: relative;
  color: #8e8e8e;
  font-size: 21px;
  margin-right: 6px;
  top: 15px;
  right: 8px;
  float: right;
  transition: opacity 0.2s ease;
}