.masonry-container {
	width: 100%;
	margin: auto;
}

.masonry {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: stretch;
	width: 97%;
	margin: auto;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	flex-grow: 1;
	max-width: 26%;
}

@media all and (min-width: 718px) and (max-width: 900px) {
	.column {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-content: stretch;
		flex-grow: 1;
		max-width: 33%;
	}
}

@media all and (max-width: 717px) {
	.column {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-content: stretch;
		flex-grow: 1;
		max-width: 50%;
	}
}

@media all and (max-width: 500px) {
	.column {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-content: stretch;
		flex-grow: 1;
		max-width: 100%;
	}
}

.tile {
	margin: 10px;
	img{
		border-radius: 10px;
		width: 100%;
	}
}

div.masonry-container {
  animation: 220s slide-up;
  margin-top: -100%;
}

@keyframes slide-up {
  from {
    margin-top: 0%;
    height: 300%;
  }

  to {
    margin-top: -100%;
    height: 100%;
  }
}
