#pinsIndexWrapper {
  padding-top: 80px;
}

#pinsIndexWrapper .feed-masonry-container {
  width: 80%;
  margin: auto;
}


@media all and (max-width: 900px) {
  #pinsIndexWrapper {
    width: 90%;
    margin: auto;
  }
}
